@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@keyframes background-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-600) transparent;
  outline: none;
  transition: none !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-background-gradient] {
  overflow: auto;
  background: linear-gradient(
    -45deg,
    var(--color-background-gradient-1),
    var(--color-background-gradient-2),
    var(--color-background-gradient-3)
  );
  background-size: 200% 200%;
  animation: background-gradient-animation 5s ease infinite;
}

@media (prefers-reduced-motion: reduce) {
  [data-background-gradient] {
    background: var(--color-background-gradient-2);
  }
}
